:root {
  --primary-color: rgb(100, 160, 210);
  --primary-active-color: rgb(70, 130, 180);
  --spinner-color: rgba(100, 160, 210, 0.6);
  --bg-color: rgb(230, 230, 230);
  --divider-color: rgb(200, 200, 200);
  --text-color: rgb(50, 50, 50);
  --text-color-disabled: rgb(100, 100, 100);
}